table {
    border-collapse: collapse;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}

thead {
    background: #6d7ae0;;
    color: white;
    height: 50px;
    text-align: left;
}

body {
    background-color: #c5d3f6;
    font-family: sans-serif;
}

th {
    padding-left: 20px;
}

td {
    color: #a9a9b5;
    padding-left: 20px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 35px;
}

tr:nth-of-type(even) {
    background-color: #fafafa;
}
