.bold {
    font-weight: bold;
}

body {
    background-color: rgb(238, 238, 238);
}

.navbar {
    background-color: white;
    text-align: center;
}

.title {
    font-weight: 100;
    text-align: center;

}

.lyrics {
    font-weight: 200;
 
}

.lyricssong {
    background-color: white;
}

.dualipasongs {
    background-color: white;
    text-align: right;
    border-radius : 1px;
    
}