:root {
    --blue: #0000ff;
    --white: #ffff;
    --link: rgb(91, 8, 107);
}

body {
    background-color: var(--blue);
}

h2 {
    border-bottom: 2px solid var(--white);
}

.container {
    color: var(--white);
    background-color: var(--blue);
    padding: 15px;
}

button {
    background-color: var(--white);
    color: black;
    border: 1px solid var(blue);
    padding: 15px;
}

a {
    color: var(--link);
}












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































